USE [ResearchLab]
GO
/****** Object:  DatabaseRole [dbStoredProcedureOnlyAccess]    Script Date: 3/2/2021 9:16:17 μμ ******/
CREATE ROLE [dbStoredProcedureOnlyAccess]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CoursesID] [int] IDENTITY(1000,1) NOT NULL,
	[Undergraduate] [nvarchar](50) NULL,
	[Postgraduate] [nvarchar](50) NULL,
	[LabMembersID] [int] NULL,
	[LabAnnouncementsID] [int] NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[CoursesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LabAnnouncements]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabAnnouncements](
	[LabAnnouncementsID] [int] IDENTITY(1,1) NOT NULL,
	[LabMembersID] [int] NULL,
	[MemberCategoriesID] [int] NULL,
	[PublicationMediaID] [int] NULL,
	[PublicationsID] [int] NULL,
	[ResearchProjectsID] [int] NULL,
	[CoursesID] [int] NULL,
	[Announcement] [ntext] NULL,
 CONSTRAINT [PK_LabAnnouncements] PRIMARY KEY CLUSTERED 
(
	[LabAnnouncementsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LabMembers]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabMembers](
	[LabMembersID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[Surname] [nvarchar](50) NULL,
	[WebPage] [nvarchar](max) NULL,
	[Email] [nvarchar](50) NULL,
	[ShortCV] [nvarchar](max) NULL,
	[MemberCategoriesID] [int] NULL,
 CONSTRAINT [PK_LabMembers] PRIMARY KEY CLUSTERED 
(
	[LabMembersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberCategories]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberCategories](
	[MemberCategoriesID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NULL,
	[Descrptn] [ntext] NULL,
 CONSTRAINT [PK_MemberCategories] PRIMARY KEY CLUSTERED 
(
	[MemberCategoriesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PublicationMedia]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PublicationMedia](
	[PublicationMediaID] [int] IDENTITY(1,1) NOT NULL,
	[PublicationType] [nvarchar](50) NULL,
 CONSTRAINT [PK_PublicationMedia] PRIMARY KEY CLUSTERED 
(
	[PublicationMediaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publications]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publications](
	[PublicationsID] [int] IDENTITY(1,1) NOT NULL,
	[ThematicUnit] [nvarchar](50) NULL,
	[LabMembersID] [int] NULL,
	[PublicationYear] [int] NULL,
	[PublicationMediaID] [int] NULL,
	[ResearchProjectsID] [int] NULL,
	[LabAnnouncementsID] [int] NULL,
 CONSTRAINT [PK_Publications] PRIMARY KEY CLUSTERED 
(
	[PublicationsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResearchProjects]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResearchProjects](
	[ResearchProjectsID] [int] IDENTITY(1,1) NOT NULL,
	[Running] [nvarchar](50) NULL,
	[Completed] [nvarchar](50) NULL,
	[LabMembersID] [int] NULL,
	[PublicationsID] [int] NULL,
	[Descrptn] [ntext] NULL,
 CONSTRAINT [PK_ResearchProjects] PRIMARY KEY CLUSTERED 
(
	[ResearchProjectsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Courses]  WITH NOCHECK ADD  CONSTRAINT [FK_Courses_LabAnnouncements] FOREIGN KEY([LabAnnouncementsID])
REFERENCES [dbo].[LabAnnouncements] ([LabAnnouncementsID])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_LabAnnouncements]
GO
ALTER TABLE [dbo].[Courses]  WITH NOCHECK ADD  CONSTRAINT [FK_Courses_LabMembers] FOREIGN KEY([LabMembersID])
REFERENCES [dbo].[LabMembers] ([LabMembersID])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_LabMembers]
GO
ALTER TABLE [dbo].[LabAnnouncements]  WITH NOCHECK ADD  CONSTRAINT [FK_LabAnnouncements_Courses] FOREIGN KEY([CoursesID])
REFERENCES [dbo].[Courses] ([CoursesID])
GO
ALTER TABLE [dbo].[LabAnnouncements] CHECK CONSTRAINT [FK_LabAnnouncements_Courses]
GO
ALTER TABLE [dbo].[LabAnnouncements]  WITH NOCHECK ADD  CONSTRAINT [FK_LabAnnouncements_LabMembers] FOREIGN KEY([LabMembersID])
REFERENCES [dbo].[LabMembers] ([LabMembersID])
GO
ALTER TABLE [dbo].[LabAnnouncements] CHECK CONSTRAINT [FK_LabAnnouncements_LabMembers]
GO
ALTER TABLE [dbo].[LabAnnouncements]  WITH NOCHECK ADD  CONSTRAINT [FK_LabAnnouncements_MemberCategories] FOREIGN KEY([MemberCategoriesID])
REFERENCES [dbo].[MemberCategories] ([MemberCategoriesID])
GO
ALTER TABLE [dbo].[LabAnnouncements] CHECK CONSTRAINT [FK_LabAnnouncements_MemberCategories]
GO
ALTER TABLE [dbo].[LabAnnouncements]  WITH NOCHECK ADD  CONSTRAINT [FK_LabAnnouncements_PublicationMedia] FOREIGN KEY([PublicationMediaID])
REFERENCES [dbo].[PublicationMedia] ([PublicationMediaID])
GO
ALTER TABLE [dbo].[LabAnnouncements] CHECK CONSTRAINT [FK_LabAnnouncements_PublicationMedia]
GO
ALTER TABLE [dbo].[LabAnnouncements]  WITH NOCHECK ADD  CONSTRAINT [FK_LabAnnouncements_Publications] FOREIGN KEY([PublicationsID])
REFERENCES [dbo].[Publications] ([PublicationsID])
GO
ALTER TABLE [dbo].[LabAnnouncements] CHECK CONSTRAINT [FK_LabAnnouncements_Publications]
GO
ALTER TABLE [dbo].[LabAnnouncements]  WITH NOCHECK ADD  CONSTRAINT [FK_LabAnnouncements_ResearchProjects] FOREIGN KEY([ResearchProjectsID])
REFERENCES [dbo].[ResearchProjects] ([ResearchProjectsID])
GO
ALTER TABLE [dbo].[LabAnnouncements] CHECK CONSTRAINT [FK_LabAnnouncements_ResearchProjects]
GO
ALTER TABLE [dbo].[LabMembers]  WITH NOCHECK ADD  CONSTRAINT [FK_LabMembers_MemberCategories] FOREIGN KEY([MemberCategoriesID])
REFERENCES [dbo].[MemberCategories] ([MemberCategoriesID])
GO
ALTER TABLE [dbo].[LabMembers] CHECK CONSTRAINT [FK_LabMembers_MemberCategories]
GO
ALTER TABLE [dbo].[Publications]  WITH NOCHECK ADD  CONSTRAINT [FK_Publications_LabAnnouncements] FOREIGN KEY([LabAnnouncementsID])
REFERENCES [dbo].[LabAnnouncements] ([LabAnnouncementsID])
GO
ALTER TABLE [dbo].[Publications] CHECK CONSTRAINT [FK_Publications_LabAnnouncements]
GO
ALTER TABLE [dbo].[Publications]  WITH NOCHECK ADD  CONSTRAINT [FK_Publications_LabMembers] FOREIGN KEY([LabMembersID])
REFERENCES [dbo].[LabMembers] ([LabMembersID])
GO
ALTER TABLE [dbo].[Publications] CHECK CONSTRAINT [FK_Publications_LabMembers]
GO
ALTER TABLE [dbo].[Publications]  WITH NOCHECK ADD  CONSTRAINT [FK_Publications_PublicationMedia] FOREIGN KEY([PublicationMediaID])
REFERENCES [dbo].[PublicationMedia] ([PublicationMediaID])
GO
ALTER TABLE [dbo].[Publications] CHECK CONSTRAINT [FK_Publications_PublicationMedia]
GO
ALTER TABLE [dbo].[Publications]  WITH NOCHECK ADD  CONSTRAINT [FK_Publications_ResearchProjects] FOREIGN KEY([ResearchProjectsID])
REFERENCES [dbo].[ResearchProjects] ([ResearchProjectsID])
GO
ALTER TABLE [dbo].[Publications] CHECK CONSTRAINT [FK_Publications_ResearchProjects]
GO
ALTER TABLE [dbo].[ResearchProjects]  WITH NOCHECK ADD  CONSTRAINT [FK_ResearchProjects_LabMembers] FOREIGN KEY([LabMembersID])
REFERENCES [dbo].[LabMembers] ([LabMembersID])
GO
ALTER TABLE [dbo].[ResearchProjects] CHECK CONSTRAINT [FK_ResearchProjects_LabMembers]
GO
ALTER TABLE [dbo].[ResearchProjects]  WITH NOCHECK ADD  CONSTRAINT [FK_ResearchProjects_Publications] FOREIGN KEY([PublicationsID])
REFERENCES [dbo].[Publications] ([PublicationsID])
GO
ALTER TABLE [dbo].[ResearchProjects] CHECK CONSTRAINT [FK_ResearchProjects_Publications]
GO
/****** Object:  StoredProcedure [dbo].[spCoursesCreateOrUpdate]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spCoursesCreateOrUpdate]
  @CoursesID int
 ,@Undergraduate NVARCHAR(50)
 ,@Postgraduate NVARCHAR(50)
 ,@LabMembersID int
 ,@LabAnnouncementsID int
 AS
 BEGIN
 IF EXISTS (SELECT * FROM Courses WHERE @CoursesID=CoursesID)
	BEGIN
	UPDATE Courses
	SET 
		Undergraduate = @Undergraduate,
		Postgraduate = @Postgraduate,
		LabMembersID = @LabMembersID,
		LabAnnouncementsID = @LabAnnouncementsID
	WHERE CoursesID = @CoursesID
	END
ELSE
	BEGIN
	
	INSERT INTO Courses(CoursesID, Undergraduate, Postgraduate, LabMembersID, LabAnnouncementsID)
	VALUES (@CoursesID, @Undergraduate, @Postgraduate, @LabMembersID, @LabAnnouncementsID)
	END

 END
GO
/****** Object:  StoredProcedure [dbo].[spCoursesDeleteByID]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spCoursesDeleteByID]
@CoursesID int
AS
	BEGIN
	DELETE FROM Courses
	WHERE CoursesID = @CoursesID
	END
GO
/****** Object:  StoredProcedure [dbo].[spCoursesViewAll]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spCoursesViewAll]
AS
	BEGIN
	SELECT * FROM Courses
	END
GO
/****** Object:  StoredProcedure [dbo].[spCoursesViewByID]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spCoursesViewByID]
@CoursesID int
AS
	BEGIN
	SELECT *
	FROM Courses
	WHERE CoursesID = @CoursesID
	END
GO
/****** Object:  StoredProcedure [dbo].[spLabAnnouncementsCreateOrUpdate]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spLabAnnouncementsCreateOrUpdate]
   @LabAnnouncementsID int
  ,@LabMembersID int
  ,@PublicationMediaID int
  ,@PublicationsID int
  ,@ResearchProjectsID int
  ,@CoursesID int
  ,@Announcement NTEXT 
 AS
 BEGIN
 IF EXISTS(SELECT * FROM LabAnnouncements WHERE @LabAnnouncementsID=LabAnnouncementsID)
	BEGIN
	UPDATE LabAnnouncements
	SET 
		LabMembersID = @LabMembersID,
		PublicationMediaID = @PublicationMediaID,
		PublicationsID = @PublicationsID,
		ResearchProjectsID = @ResearchProjectsID,
		CoursesID = @CoursesID,
		Announcement = @Announcement
	WHERE LabMembersID = @LabMembersID
	END
ELSE
	BEGIN
	
	INSERT INTO LabAnnouncements(LabAnnouncementsID, LabMembersID, PublicationMediaID, PublicationsID, ResearchProjectsID, CoursesID, Announcement)
	VALUES (@LabAnnouncementsID, @LabMembersID, @PublicationMediaID, @PublicationsID, @ResearchProjectsID, @CoursesID, @Announcement)
	END

 END
GO
/****** Object:  StoredProcedure [dbo].[spLabAnnouncementsDeleteByID]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spLabAnnouncementsDeleteByID]
@LabAnnouncementsID int
AS
	BEGIN
	DELETE FROM LabAnnouncements
	WHERE LabAnnouncementsID = @LabAnnouncementsID
	END
GO
/****** Object:  StoredProcedure [dbo].[spLabAnnouncementsViewAll]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spLabAnnouncementsViewAll]
AS
	BEGIN
	SELECT * FROM LabAnnouncements
	END
GO
/****** Object:  StoredProcedure [dbo].[spLabAnnouncementsViewByID]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spLabAnnouncementsViewByID]
@LabAnnouncementsID int
AS
	BEGIN
	SELECT *
	FROM LabAnnouncements
	WHERE LabAnnouncementsID = @LabAnnouncementsID
	END
GO
/****** Object:  StoredProcedure [dbo].[spLabMembersCreateOrUpdate]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[spLabMembersCreateOrUpdate]
	 @LabMembersID int
    ,@FirstName nvarchar(50)
	,@Surname nvarchar(50) 
    ,@WebPage NVARCHAR(max)
	,@Email nvarchar(50)
	,@ShortCV NVARCHAR(max)
	,@MemberCategoriesID int
 AS
 BEGIN
 IF EXISTS (SELECT * FROM LabMembers WHERE @LabMembersID=LabMembersID)
	BEGIN

	UPDATE LabMembers
	SET 
		FirstName = @FirstName,
		Surname = @Surname,
		WebPage = @WebPage,
		Email = @Email,
		ShortCV = @ShortCV,
		MemberCategoriesID = @MemberCategoriesID
	WHERE LabMembersID = @LabMembersID
	END
ELSE
	BEGIN
	INSERT INTO LabMembers(LabMembersID, FirstName, Surname, WebPage, Email, ShortCV, MemberCategoriesID)
	VALUES (@LabMembersID, @FirstName, @Surname, @WebPage, @Email, @ShortCV, @MemberCategoriesID)
	END

 END
GO
/****** Object:  StoredProcedure [dbo].[spLabMembersDeleteByID]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spLabMembersDeleteByID]
@LabMembersID int
AS
	BEGIN
	DELETE FROM LabMembers
	WHERE LabMembersID = @LabMembersID
	END
GO
/****** Object:  StoredProcedure [dbo].[spLabMembersViewAll]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spLabMembersViewAll]
AS
	BEGIN
	SELECT * FROM LabMembers
	END
GO
/****** Object:  StoredProcedure [dbo].[spLabMembersViewByID]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spLabMembersViewByID]
@LabMembersID int
AS
	BEGIN
	SELECT *
	FROM LabMembers
	WHERE LabMembersID = @LabMembersID
	END
GO
/****** Object:  StoredProcedure [dbo].[spMemberActivityReportPerYear]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spMemberActivityReportPerYear]

       @LabMembersID NCHAR(10) = NULL
AS
BEGIN
      SET NOCOUNT ON;
	  --Select by Member
	  BEGIN
	  SELECT 
			 L.LabMembersID,
			 L.FirstName,
			 L.Surname,
	  
             P.ThematicUnit, 
	         P.PublicationYear, 

			 R.Running,
			 R.Completed,
			 R.Descrptn,

			 C.Undergraduate,
			 C.Postgraduate

       FROM LabMembers AS L 
         FULL JOIN Publications AS P
		 ON L.LabMembersID = P.LabMembersID
		 FULL JOIN ResearchProjects AS R
		 ON P.LabMembersID = R.LabMembersID
		 FULL JOIN Courses AS C
		 ON R.LabMembersID = C.LabMembersID
	   WHERE L.LabMembersID = @LabMembersID
	   ORDER BY P.PublicationYear
	   END
END
GO
/****** Object:  StoredProcedure [dbo].[spMemberCategoriesCreateOrUpdate]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spMemberCategoriesCreateOrUpdate]
     @MemberCategoriesID int
	,@CategoryName nvarchar(50) 
    ,@Descrptn NTEXT
 AS
 BEGIN
 IF EXISTS (SELECT * FROM  MemberCategories WHERE @MemberCategoriesID=MemberCategoriesID)
 	BEGIN
	UPDATE MemberCategories
	SET 
		CategoryName = @CategoryName,
		Descrptn = @Descrptn
	WHERE MemberCategoriesID = @MemberCategoriesID
	END
ELSE
	BEGIN
	INSERT INTO MemberCategories(MemberCategoriesID, CategoryName, Descrptn)
	VALUES (@MemberCategoriesID, @CategoryName, @Descrptn)
	END

 END
GO
/****** Object:  StoredProcedure [dbo].[spMemberCategoriesDeleteByID]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spMemberCategoriesDeleteByID]
@MemberCategoriesID int
AS
	BEGIN
	DELETE FROM MemberCategories
	WHERE MemberCategoriesID = @MemberCategoriesID
	END
GO
/****** Object:  StoredProcedure [dbo].[spMemberCategoriesViewAll]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spMemberCategoriesViewAll]
AS
	BEGIN
	SELECT * FROM MemberCategories
	END
GO
/****** Object:  StoredProcedure [dbo].[spMemberCategoriesViewByID]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spMemberCategoriesViewByID]
@MemberCategoriesID int
AS
	BEGIN
	SELECT *
	FROM MemberCategories
	WHERE MemberCategoriesID = @MemberCategoriesID
	END
GO
/****** Object:  StoredProcedure [dbo].[spMemberPublicationPerCongress]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spMemberPublicationPerCongress]

       @LabMembersID NCHAR(10) = NULL
AS
BEGIN
      SET NOCOUNT ON;
	  --Select by Member
	  BEGIN
	  SELECT COUNT (PM.PublicationType) AS NumberOfCongressPublications

       FROM LabMembers AS L 
         FULL JOIN Publications AS P
		 ON L.LabMembersID = P.LabMembersID
		 FULL JOIN PublicationMedia AS PM
		 ON P.PublicationMediaID = PM.PublicationMediaID
	   WHERE L.LabMembersID = @LabMembersID AND PM.PublicationType = 'Congress'
	   GROUP BY PM.PublicationType
	   END
END
GO
/****** Object:  StoredProcedure [dbo].[spMemberPublicationPerMagazine]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spMemberPublicationPerMagazine]

       @LabMembersID NCHAR(10) = NULL
AS
BEGIN
      SET NOCOUNT ON;
	  --Select by Member
	  BEGIN
	  SELECT COUNT (PM.PublicationType) AS NumberOfMagazinePublications

       FROM LabMembers AS L 
         FULL JOIN Publications AS P
		 ON L.LabMembersID = P.LabMembersID
		 FULL JOIN PublicationMedia AS PM
		 ON P.PublicationMediaID = PM.PublicationMediaID
	   WHERE L.LabMembersID = @LabMembersID AND PM.PublicationType = 'Magazine'
	   GROUP BY PM.PublicationType
	   END
END
GO
/****** Object:  StoredProcedure [dbo].[spMemberPublicationPerPublicationType]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spMemberPublicationPerPublicationType]

       @LabMembersID NCHAR(10) = NULL
AS
BEGIN
      SET NOCOUNT ON;
	  --Select by Member
	  BEGIN
	  SELECT COUNT (PM.PublicationType) AS NumberOfPublicationsPerType, PM.PublicationType

       FROM LabMembers AS L 
         FULL JOIN Publications AS P
		 ON L.LabMembersID = P.LabMembersID
		 FULL JOIN PublicationMedia AS PM
		 ON P.PublicationMediaID = PM.PublicationMediaID
	   WHERE L.LabMembersID = @LabMembersID
	   GROUP BY PM.PublicationType
	   END
END
GO
/****** Object:  StoredProcedure [dbo].[spMemberPublicationReportPerYearReversed]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spMemberPublicationReportPerYearReversed]

       @LabMembersID NCHAR(10) = NULL
AS
BEGIN
      SET NOCOUNT ON;
	  --Select by Member
	  BEGIN
	  SELECT 
			 L.LabMembersID,
			 L.FirstName,
			 L.Surname,
	  
             P.ThematicUnit, 
	         P.PublicationYear

       FROM LabMembers AS L 
         FULL JOIN Publications AS P
		 ON L.LabMembersID = P.LabMembersID
	   WHERE L.LabMembersID = @LabMembersID
	   ORDER BY P.PublicationYear DESC
	   END
END
GO
/****** Object:  StoredProcedure [dbo].[spMemberWithSameNumberOfPublications]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spMemberWithSameNumberOfPublications]

       @PublicationType NCHAR(10) = NULL
AS
BEGIN
      SET NOCOUNT ON;
	  --Select by Member
	  BEGIN
	  SELECT COUNT (PM.PublicationType) AS NumberOfSamePublications, L.LabMembersID

       FROM LabMembers AS L 
         FULL JOIN Publications AS P
		 ON L.LabMembersID = P.LabMembersID
		 FULL JOIN PublicationMedia AS PM
		 ON P.PublicationMediaID = PM.PublicationMediaID
	   WHERE PM.PublicationType = @PublicationType
	   GROUP BY L.LabMembersID
	   HAVING COUNT (PM.PublicationType) > 0
	   ORDER BY NumberOfSamePublications DESC
	   END
END
GO
/****** Object:  StoredProcedure [dbo].[spMemberWithSamePublications]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spMemberWithSamePublications]

       @PublicationsID NCHAR(10) = NULL
AS
BEGIN
      SET NOCOUNT ON;
	  --Select by Member
	  BEGIN
	  SELECT COUNT (PM.PublicationType) AS SamePublications, L.LabMembersID

       FROM LabMembers AS L 
         FULL JOIN Publications AS P
		 ON L.LabMembersID = P.LabMembersID
		 FULL JOIN PublicationMedia AS PM
		 ON P.PublicationMediaID = PM.PublicationMediaID
	   WHERE P.PublicationsID = @PublicationsID
	   GROUP BY L.LabMembersID
	   HAVING COUNT (P.PublicationsID) > 0
	   ORDER BY SamePublications DESC
	   END
END
GO
/****** Object:  StoredProcedure [dbo].[spPublicationMediaCreateOrUpdate]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spPublicationMediaCreateOrUpdate]
     @PublicationMediaID int
	,@PublicationType NVARCHAR(50)
 AS
 BEGIN
 IF EXISTS (SELECT * FROM  PublicationMedia WHERE @PublicationMediaID=PublicationMediaID)
	
	BEGIN
	UPDATE PublicationMedia
	SET 
		PublicationType = @PublicationType
	WHERE PublicationMediaID = @PublicationMediaID
	END
ELSE
	BEGIN
	INSERT INTO PublicationMedia(PublicationMediaID, PublicationType)
	VALUES (@PublicationMediaID, @PublicationType)
	END
 END
GO
/****** Object:  StoredProcedure [dbo].[spPublicationMediaDeleteByID]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spPublicationMediaDeleteByID]
@PublicationMediaID int
AS
	BEGIN
	DELETE FROM PublicationMedia
	WHERE PublicationMediaID = @PublicationMediaID
	END
GO
/****** Object:  StoredProcedure [dbo].[spPublicationMediaViewAll]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spPublicationMediaViewAll]
AS
	BEGIN
	SELECT * FROM PublicationMedia
	END
GO
/****** Object:  StoredProcedure [dbo].[spPublicationMediaViewByID]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spPublicationMediaViewByID]
@PublicationMediaID int
AS
	BEGIN
	SELECT *
	FROM PublicationMedia
	WHERE PublicationMediaID = @PublicationMediaID
	END
GO
/****** Object:  StoredProcedure [dbo].[spPublicationsCreateOrUpdate]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spPublicationsCreateOrUpdate]
       @PublicationsID INT
      ,@ThematicUnit nvarchar(50)
	  ,@LabMembersID INT
	  ,@PublicationYear INT 
	  ,@PublicationMediaID INT
	  ,@ResearchProjectsID INT
	  ,@LabAnnouncementsID INT
 AS
 BEGIN
 IF EXISTS (SELECT * FROM  Publications WHERE @PublicationsID=PublicationsID)
	BEGIN
	UPDATE Publications
	SET 
		ThematicUnit = @ThematicUnit,
		LabMembersID = @LabMembersID,
		PublicationYear = @PublicationYear,
		PublicationMediaID = @PublicationMediaID,
		ResearchProjectsID = @ResearchProjectsID,
		LabAnnouncementsID = @LabAnnouncementsID
	WHERE PublicationsID = @PublicationsID
	END
ELSE
	BEGIN
	INSERT INTO Publications(PublicationsID, ThematicUnit, LabMembersID, PublicationYear, PublicationMediaID, ResearchProjectsID, LabAnnouncementsID)
	VALUES (@PublicationsID, @ThematicUnit, @LabMembersID, @PublicationYear, @PublicationMediaID, @ResearchProjectsID, @LabAnnouncementsID)
	END

 END
GO
/****** Object:  StoredProcedure [dbo].[spPublicationsDeleteByID]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spPublicationsDeleteByID]
@PublicationsID INT
AS
	BEGIN
	DELETE FROM Publications
	WHERE PublicationsID = @PublicationsID
	END
GO
/****** Object:  StoredProcedure [dbo].[spPublicationsViewAll]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spPublicationsViewAll]
AS
	BEGIN
	SELECT * FROM Publications
	END
GO
/****** Object:  StoredProcedure [dbo].[spPublicationsViewByID]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spPublicationsViewByID]
@PublicationsID INT
AS
	BEGIN
	SELECT *
	FROM Publications
	WHERE PublicationsID = @PublicationsID
	END
GO
/****** Object:  StoredProcedure [dbo].[spResearchProjectsCreateOrUpdate]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spResearchProjectsCreateOrUpdate]
  @ResearchProjectsID int
 ,@Running NVARCHAR(50)
 ,@Completed NVARCHAR(50)
 ,@LabMembersID int
 ,@PublicationsID int
 ,@Descrptn NTEXT
 AS
 BEGIN
 IF EXISTS (SELECT * FROM  ResearchProjects WHERE @ResearchProjectsID=ResearchProjectsID)
	BEGIN
	UPDATE ResearchProjects
	SET 
		Running = @Running,
		Completed = @Completed,
		LabMembersID = @LabMembersID,
		PublicationsID = @PublicationsID,
		Descrptn = @Descrptn
	WHERE ResearchProjectsID = @ResearchProjectsID
	END
ELSE
	BEGIN
	INSERT INTO ResearchProjects(ResearchProjectsID, Running, Completed, LabMembersID, PublicationsID, Descrptn)
	VALUES (@ResearchProjectsID, @Running, @Completed, @LabMembersID, @PublicationsID, @Descrptn)
	END

 END
GO
/****** Object:  StoredProcedure [dbo].[spResearchprojectsDeleteByID]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spResearchprojectsDeleteByID]
@ResearchprojectsID int
AS
	BEGIN
	DELETE FROM Researchprojects
	WHERE ResearchprojectsID = @ResearchprojectsID
	END
GO
/****** Object:  StoredProcedure [dbo].[spResearchprojectsViewAll]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spResearchprojectsViewAll]
AS
	BEGIN
	SELECT * FROM Researchprojects
	END
GO
/****** Object:  StoredProcedure [dbo].[spResearchProjectsViewByID]    Script Date: 3/2/2021 9:16:17 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spResearchProjectsViewByID]
@ResearchProjectsID int
AS
	BEGIN
	SELECT *
	FROM ResearchProjects
	WHERE ResearchProjectsID = @ResearchProjectsID
	END
GO
