USE [master]
GO
/****** Object:  Database [ResearchLab]    Script Date: 4/2/2021 8:31:15 μμ ******/
CREATE DATABASE [ResearchLab]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Research Lab', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Research Lab.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Research Lab_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Research Lab_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ResearchLab].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ResearchLab]
GO
/****** Object:  DatabaseRole [dbStoredProcedureOnlyAccess]    Script Date: 4/2/2021 8:31:15 μμ ******/
CREATE ROLE [dbStoredProcedureOnlyAccess]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CoursesID] [int] IDENTITY(1000,1) NOT NULL,
	[Undergraduate] [nvarchar](50) NULL,
	[Postgraduate] [nvarchar](50) NULL,
	[LabMembersID] [int] NULL,
	[LabAnnouncementsID] [int] NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[CoursesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LabAnnouncements]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabAnnouncements](
	[LabAnnouncementsID] [int] IDENTITY(1,1) NOT NULL,
	[LabMembersID] [int] NULL,
	[MemberCategoriesID] [int] NULL,
	[PublicationMediaID] [int] NULL,
	[PublicationsID] [int] NULL,
	[ResearchProjectsID] [int] NULL,
	[CoursesID] [int] NULL,
	[Announcement] [ntext] NULL,
 CONSTRAINT [PK_LabAnnouncements] PRIMARY KEY CLUSTERED 
(
	[LabAnnouncementsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LabMembers]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabMembers](
	[LabMembersID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[Surname] [nvarchar](50) NULL,
	[WebPage] [nvarchar](max) NULL,
	[Email] [nvarchar](50) NULL,
	[ShortCV] [nvarchar](max) NULL,
	[MemberCategoriesID] [int] NULL,
 CONSTRAINT [PK_LabMembers] PRIMARY KEY CLUSTERED 
(
	[LabMembersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberCategories]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberCategories](
	[MemberCategoriesID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NULL,
	[Descrptn] [ntext] NULL,
 CONSTRAINT [PK_MemberCategories] PRIMARY KEY CLUSTERED 
(
	[MemberCategoriesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PublicationMedia]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PublicationMedia](
	[PublicationMediaID] [int] IDENTITY(1,1) NOT NULL,
	[PublicationType] [nvarchar](50) NULL,
 CONSTRAINT [PK_PublicationMedia] PRIMARY KEY CLUSTERED 
(
	[PublicationMediaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publications]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publications](
	[PublicationsID] [int] IDENTITY(1,1) NOT NULL,
	[ThematicUnit] [nvarchar](50) NULL,
	[LabMembersID] [int] NULL,
	[PublicationYear] [int] NULL,
	[PublicationMediaID] [int] NULL,
	[ResearchProjectsID] [int] NULL,
	[LabAnnouncementsID] [int] NULL,
 CONSTRAINT [PK_Publications] PRIMARY KEY CLUSTERED 
(
	[PublicationsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResearchProjects]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResearchProjects](
	[ResearchProjectsID] [int] IDENTITY(1,1) NOT NULL,
	[Running] [nvarchar](50) NULL,
	[Completed] [nvarchar](50) NULL,
	[LabMembersID] [int] NULL,
	[PublicationsID] [int] NULL,
	[Descrptn] [ntext] NULL,
 CONSTRAINT [PK_ResearchProjects] PRIMARY KEY CLUSTERED 
(
	[ResearchProjectsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([CoursesID], [Undergraduate], [Postgraduate], [LabMembersID], [LabAnnouncementsID]) VALUES (1, N'Software & Computer Services', NULL, 39, 12)
INSERT [dbo].[Courses] ([CoursesID], [Undergraduate], [Postgraduate], [LabMembersID], [LabAnnouncementsID]) VALUES (2, N'Industrial Metals & Mining', N'', 14, 13)
INSERT [dbo].[Courses] ([CoursesID], [Undergraduate], [Postgraduate], [LabMembersID], [LabAnnouncementsID]) VALUES (3, N'Mining', N'', 26, 1)
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[LabAnnouncements] ON 

INSERT [dbo].[LabAnnouncements] ([LabAnnouncementsID], [LabMembersID], [MemberCategoriesID], [PublicationMediaID], [PublicationsID], [ResearchProjectsID], [CoursesID], [Announcement]) VALUES (1, 14, 3, 1, 22, 16, 63, N'Dolor iusto consequatur dolorem minus; nostrum amet harum asperiores.')
INSERT [dbo].[LabAnnouncements] ([LabAnnouncementsID], [LabMembersID], [MemberCategoriesID], [PublicationMediaID], [PublicationsID], [ResearchProjectsID], [CoursesID], [Announcement]) VALUES (2, 20, 3, 2, 11, 4, 79, N'Id iusto soluta omnis rerum; quod unde enim consequatur aut.')
INSERT [dbo].[LabAnnouncements] ([LabAnnouncementsID], [LabMembersID], [MemberCategoriesID], [PublicationMediaID], [PublicationsID], [ResearchProjectsID], [CoursesID], [Announcement]) VALUES (3, 21, 3, 1, 7, 6, 72, N'Repellat enim fugit ad tempora ut exercitationem blanditiis.')
SET IDENTITY_INSERT [dbo].[LabAnnouncements] OFF
GO
SET IDENTITY_INSERT [dbo].[LabMembers] ON 

INSERT [dbo].[LabMembers] ([LabMembersID], [FirstName], [Surname], [WebPage], [Email], [ShortCV], [MemberCategoriesID]) VALUES (1, N'Trent', N'Hanes', N'http://ariththion.at/anbutand/butmeve/ithwahi/atle.php?t=45&p=1443', N'Alexia_Dobbins8@example.com', N'Quae error ad dolore unde; similique voluptatum dolor et ratione. Quam aut illum alias ipsa?', 3)
INSERT [dbo].[LabMembers] ([LabMembersID], [FirstName], [Surname], [WebPage], [Email], [ShortCV], [MemberCategoriesID]) VALUES (2, N'Camila', N'Evers', N'http://www.uldha.nl/noteswas/erendisyou.php?t=14&p=64', N'vnlx5987@nowhere.com', N'Possimus voluptatem in qui aut. Porro deserunt id provident mollitia! Temporibus sapiente voluptates et harum.', 2)
INSERT [dbo].[LabMembers] ([LabMembersID], [FirstName], [Surname], [WebPage], [Email], [ShortCV], [MemberCategoriesID]) VALUES (3, N'Ada', N'Haney', N'http://www.thiterstera.fi/leaning/me/tohersho/ntanhinher.asp', N'Allen@example.com', N'Aliquid veniam reiciendis qui earum est dolores velit recusandae libero quasi. Officiis ut repudiandae incidunt natus.', 1)
SET IDENTITY_INSERT [dbo].[LabMembers] OFF
GO
SET IDENTITY_INSERT [dbo].[MemberCategories] ON 

INSERT [dbo].[MemberCategories] ([MemberCategoriesID], [CategoryName], [Descrptn]) VALUES (1, N'TRS', N'Teaching Research Staff')
INSERT [dbo].[MemberCategories] ([MemberCategoriesID], [CategoryName], [Descrptn]) VALUES (2, N'Researchers', N'Researchers')
INSERT [dbo].[MemberCategories] ([MemberCategoriesID], [CategoryName], [Descrptn]) VALUES (3, N'PhD', N'PhD candidates')
SET IDENTITY_INSERT [dbo].[MemberCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[PublicationMedia] ON 

INSERT [dbo].[PublicationMedia] ([PublicationMediaID], [PublicationType]) VALUES (1, N'Congress')
INSERT [dbo].[PublicationMedia] ([PublicationMediaID], [PublicationType]) VALUES (2, N'Magazine')
SET IDENTITY_INSERT [dbo].[PublicationMedia] OFF
GO
SET IDENTITY_INSERT [dbo].[Publications] ON 

INSERT [dbo].[Publications] ([PublicationsID], [ThematicUnit], [LabMembersID], [PublicationYear], [PublicationMediaID], [ResearchProjectsID], [LabAnnouncementsID]) VALUES (1, N'Supermarket', 5, 2015, 1, 13, 34)
INSERT [dbo].[Publications] ([PublicationsID], [ThematicUnit], [LabMembersID], [PublicationYear], [PublicationMediaID], [ResearchProjectsID], [LabAnnouncementsID]) VALUES (2, N'Novelty Shop', 12, 2011, 1, 18, 59)
INSERT [dbo].[Publications] ([PublicationsID], [ThematicUnit], [LabMembersID], [PublicationYear], [PublicationMediaID], [ResearchProjectsID], [LabAnnouncementsID]) VALUES (3, N'Wholesaler', 13, 2000, 1, 20, 44)
SET IDENTITY_INSERT [dbo].[Publications] OFF
GO
SET IDENTITY_INSERT [dbo].[ResearchProjects] ON 

INSERT [dbo].[ResearchProjects] ([ResearchProjectsID], [Running], [Completed], [LabMembersID], [PublicationsID], [Descrptn]) VALUES (1, N'Retopor', N'', 28, 25, N'H7I2K14')
INSERT [dbo].[ResearchProjects] ([ResearchProjectsID], [Running], [Completed], [LabMembersID], [PublicationsID], [Descrptn]) VALUES (2, N'Playtinplry', N'', 32, 6, N'26I1441C2S70RNMPUAK48H11EH')
INSERT [dbo].[ResearchProjects] ([ResearchProjectsID], [Running], [Completed], [LabMembersID], [PublicationsID], [Descrptn]) VALUES (3, N'Tabtectedger', N'', 27, 5, N'EQ2UL9X936XD7P8H73T57ES66XPX3RD')
SET IDENTITY_INSERT [dbo].[ResearchProjects] OFF
GO
/****** Object:  Index [idx_coursesid]    Script Date: 4/2/2021 8:31:15 μμ ******/
CREATE NONCLUSTERED INDEX [idx_coursesid] ON [dbo].[Courses]
(
	[CoursesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_labannouncementsid]    Script Date: 4/2/2021 8:31:15 μμ ******/
CREATE NONCLUSTERED INDEX [idx_labannouncementsid] ON [dbo].[LabAnnouncements]
(
	[LabAnnouncementsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_labmembersid]    Script Date: 4/2/2021 8:31:15 μμ ******/
CREATE NONCLUSTERED INDEX [idx_labmembersid] ON [dbo].[LabMembers]
(
	[LabMembersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_membercategoriesid]    Script Date: 4/2/2021 8:31:15 μμ ******/
CREATE NONCLUSTERED INDEX [idx_membercategoriesid] ON [dbo].[MemberCategories]
(
	[MemberCategoriesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_publicationmediaid]    Script Date: 4/2/2021 8:31:15 μμ ******/
CREATE NONCLUSTERED INDEX [idx_publicationmediaid] ON [dbo].[PublicationMedia]
(
	[PublicationMediaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_publicationsid]    Script Date: 4/2/2021 8:31:15 μμ ******/
CREATE NONCLUSTERED INDEX [idx_publicationsid] ON [dbo].[Publications]
(
	[PublicationsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_researchprojectsid]    Script Date: 4/2/2021 8:31:15 μμ ******/
CREATE NONCLUSTERED INDEX [idx_researchprojectsid] ON [dbo].[ResearchProjects]
(
	[ResearchProjectsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Courses]  WITH NOCHECK ADD  CONSTRAINT [FK_Courses_LabAnnouncements] FOREIGN KEY([LabAnnouncementsID])
REFERENCES [dbo].[LabAnnouncements] ([LabAnnouncementsID])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_LabAnnouncements]
GO
ALTER TABLE [dbo].[Courses]  WITH NOCHECK ADD  CONSTRAINT [FK_Courses_LabMembers] FOREIGN KEY([LabMembersID])
REFERENCES [dbo].[LabMembers] ([LabMembersID])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_LabMembers]
GO
ALTER TABLE [dbo].[LabAnnouncements]  WITH NOCHECK ADD  CONSTRAINT [FK_LabAnnouncements_Courses] FOREIGN KEY([CoursesID])
REFERENCES [dbo].[Courses] ([CoursesID])
GO
ALTER TABLE [dbo].[LabAnnouncements] CHECK CONSTRAINT [FK_LabAnnouncements_Courses]
GO
ALTER TABLE [dbo].[LabAnnouncements]  WITH NOCHECK ADD  CONSTRAINT [FK_LabAnnouncements_LabMembers] FOREIGN KEY([LabMembersID])
REFERENCES [dbo].[LabMembers] ([LabMembersID])
GO
ALTER TABLE [dbo].[LabAnnouncements] CHECK CONSTRAINT [FK_LabAnnouncements_LabMembers]
GO
ALTER TABLE [dbo].[LabAnnouncements]  WITH NOCHECK ADD  CONSTRAINT [FK_LabAnnouncements_MemberCategories] FOREIGN KEY([MemberCategoriesID])
REFERENCES [dbo].[MemberCategories] ([MemberCategoriesID])
GO
ALTER TABLE [dbo].[LabAnnouncements] CHECK CONSTRAINT [FK_LabAnnouncements_MemberCategories]
GO
ALTER TABLE [dbo].[LabAnnouncements]  WITH NOCHECK ADD  CONSTRAINT [FK_LabAnnouncements_PublicationMedia] FOREIGN KEY([PublicationMediaID])
REFERENCES [dbo].[PublicationMedia] ([PublicationMediaID])
GO
ALTER TABLE [dbo].[LabAnnouncements] CHECK CONSTRAINT [FK_LabAnnouncements_PublicationMedia]
GO
ALTER TABLE [dbo].[LabAnnouncements]  WITH NOCHECK ADD  CONSTRAINT [FK_LabAnnouncements_Publications] FOREIGN KEY([PublicationsID])
REFERENCES [dbo].[Publications] ([PublicationsID])
GO
ALTER TABLE [dbo].[LabAnnouncements] CHECK CONSTRAINT [FK_LabAnnouncements_Publications]
GO
ALTER TABLE [dbo].[LabAnnouncements]  WITH NOCHECK ADD  CONSTRAINT [FK_LabAnnouncements_ResearchProjects] FOREIGN KEY([ResearchProjectsID])
REFERENCES [dbo].[ResearchProjects] ([ResearchProjectsID])
GO
ALTER TABLE [dbo].[LabAnnouncements] CHECK CONSTRAINT [FK_LabAnnouncements_ResearchProjects]
GO
ALTER TABLE [dbo].[LabMembers]  WITH NOCHECK ADD  CONSTRAINT [FK_LabMembers_MemberCategories] FOREIGN KEY([MemberCategoriesID])
REFERENCES [dbo].[MemberCategories] ([MemberCategoriesID])
GO
ALTER TABLE [dbo].[LabMembers] CHECK CONSTRAINT [FK_LabMembers_MemberCategories]
GO
ALTER TABLE [dbo].[Publications]  WITH NOCHECK ADD  CONSTRAINT [FK_Publications_LabAnnouncements] FOREIGN KEY([LabAnnouncementsID])
REFERENCES [dbo].[LabAnnouncements] ([LabAnnouncementsID])
GO
ALTER TABLE [dbo].[Publications] CHECK CONSTRAINT [FK_Publications_LabAnnouncements]
GO
ALTER TABLE [dbo].[Publications]  WITH NOCHECK ADD  CONSTRAINT [FK_Publications_LabMembers] FOREIGN KEY([LabMembersID])
REFERENCES [dbo].[LabMembers] ([LabMembersID])
GO
ALTER TABLE [dbo].[Publications] CHECK CONSTRAINT [FK_Publications_LabMembers]
GO
ALTER TABLE [dbo].[Publications]  WITH NOCHECK ADD  CONSTRAINT [FK_Publications_PublicationMedia] FOREIGN KEY([PublicationMediaID])
REFERENCES [dbo].[PublicationMedia] ([PublicationMediaID])
GO
ALTER TABLE [dbo].[Publications] CHECK CONSTRAINT [FK_Publications_PublicationMedia]
GO
ALTER TABLE [dbo].[Publications]  WITH NOCHECK ADD  CONSTRAINT [FK_Publications_ResearchProjects] FOREIGN KEY([ResearchProjectsID])
REFERENCES [dbo].[ResearchProjects] ([ResearchProjectsID])
GO
ALTER TABLE [dbo].[Publications] CHECK CONSTRAINT [FK_Publications_ResearchProjects]
GO
ALTER TABLE [dbo].[ResearchProjects]  WITH NOCHECK ADD  CONSTRAINT [FK_ResearchProjects_LabMembers] FOREIGN KEY([LabMembersID])
REFERENCES [dbo].[LabMembers] ([LabMembersID])
GO
ALTER TABLE [dbo].[ResearchProjects] CHECK CONSTRAINT [FK_ResearchProjects_LabMembers]
GO
ALTER TABLE [dbo].[ResearchProjects]  WITH NOCHECK ADD  CONSTRAINT [FK_ResearchProjects_Publications] FOREIGN KEY([PublicationsID])
REFERENCES [dbo].[Publications] ([PublicationsID])
GO
ALTER TABLE [dbo].[ResearchProjects] CHECK CONSTRAINT [FK_ResearchProjects_Publications]
GO
/****** Object:  StoredProcedure [dbo].[spCoursesCreateOrUpdate]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spCoursesCreateOrUpdate]
  @CoursesID int
 ,@Undergraduate NVARCHAR(50)
 ,@Postgraduate NVARCHAR(50)
 ,@LabMembersID int
 ,@LabAnnouncementsID int
 AS
 BEGIN
 IF EXISTS (SELECT * FROM Courses WHERE @CoursesID=CoursesID)
	BEGIN
	UPDATE Courses
	SET 
		Undergraduate = @Undergraduate,
		Postgraduate = @Postgraduate,
		LabMembersID = @LabMembersID,
		LabAnnouncementsID = @LabAnnouncementsID
	WHERE CoursesID = @CoursesID
	END
ELSE
	BEGIN
	
	INSERT INTO Courses(CoursesID, Undergraduate, Postgraduate, LabMembersID, LabAnnouncementsID)
	VALUES (@CoursesID, @Undergraduate, @Postgraduate, @LabMembersID, @LabAnnouncementsID)
	END

 END
GO
/****** Object:  StoredProcedure [dbo].[spCoursesDeleteByID]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spCoursesDeleteByID]
@CoursesID int
AS
	BEGIN
	DELETE FROM Courses
	WHERE CoursesID = @CoursesID
	END
GO
/****** Object:  StoredProcedure [dbo].[spCoursesViewAll]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spCoursesViewAll]
AS
	BEGIN
	SELECT * FROM Courses
	END
GO
/****** Object:  StoredProcedure [dbo].[spCoursesViewByID]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spCoursesViewByID]
@CoursesID int
AS
	BEGIN
	SELECT *
	FROM Courses
	WHERE CoursesID = @CoursesID
	END
GO
/****** Object:  StoredProcedure [dbo].[spLabAnnouncementsCreateOrUpdate]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spLabAnnouncementsCreateOrUpdate]
   @LabAnnouncementsID int
  ,@LabMembersID int
  ,@PublicationMediaID int
  ,@PublicationsID int
  ,@ResearchProjectsID int
  ,@CoursesID int
  ,@Announcement NTEXT 
 AS
 BEGIN
 IF EXISTS(SELECT * FROM LabAnnouncements WHERE @LabAnnouncementsID=LabAnnouncementsID)
	BEGIN
	UPDATE LabAnnouncements
	SET 
		LabMembersID = @LabMembersID,
		PublicationMediaID = @PublicationMediaID,
		PublicationsID = @PublicationsID,
		ResearchProjectsID = @ResearchProjectsID,
		CoursesID = @CoursesID,
		Announcement = @Announcement
	WHERE LabMembersID = @LabMembersID
	END
ELSE
	BEGIN
	
	INSERT INTO LabAnnouncements(LabAnnouncementsID, LabMembersID, PublicationMediaID, PublicationsID, ResearchProjectsID, CoursesID, Announcement)
	VALUES (@LabAnnouncementsID, @LabMembersID, @PublicationMediaID, @PublicationsID, @ResearchProjectsID, @CoursesID, @Announcement)
	END

 END
GO
/****** Object:  StoredProcedure [dbo].[spLabAnnouncementsDeleteByID]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spLabAnnouncementsDeleteByID]
@LabAnnouncementsID int
AS
	BEGIN
	DELETE FROM LabAnnouncements
	WHERE LabAnnouncementsID = @LabAnnouncementsID
	END
GO
/****** Object:  StoredProcedure [dbo].[spLabAnnouncementsViewAll]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spLabAnnouncementsViewAll]
AS
	BEGIN
	SELECT * FROM LabAnnouncements
	END
GO
/****** Object:  StoredProcedure [dbo].[spLabAnnouncementsViewByID]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spLabAnnouncementsViewByID]
@LabAnnouncementsID int
AS
	BEGIN
	SELECT *
	FROM LabAnnouncements
	WHERE LabAnnouncementsID = @LabAnnouncementsID
	END
GO
/****** Object:  StoredProcedure [dbo].[spLabMembersCreateOrUpdate]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[spLabMembersCreateOrUpdate]
	 @LabMembersID int
    ,@FirstName nvarchar(50)
	,@Surname nvarchar(50) 
    ,@WebPage NVARCHAR(max)
	,@Email nvarchar(50)
	,@ShortCV NVARCHAR(max)
	,@MemberCategoriesID int
 AS
 BEGIN
 IF EXISTS (SELECT * FROM LabMembers WHERE @LabMembersID=LabMembersID)
	BEGIN

	UPDATE LabMembers
	SET 
		FirstName = @FirstName,
		Surname = @Surname,
		WebPage = @WebPage,
		Email = @Email,
		ShortCV = @ShortCV,
		MemberCategoriesID = @MemberCategoriesID
	WHERE LabMembersID = @LabMembersID
	END
ELSE
	BEGIN
	INSERT INTO LabMembers(LabMembersID, FirstName, Surname, WebPage, Email, ShortCV, MemberCategoriesID)
	VALUES (@LabMembersID, @FirstName, @Surname, @WebPage, @Email, @ShortCV, @MemberCategoriesID)
	END

 END
GO
/****** Object:  StoredProcedure [dbo].[spLabMembersDeleteByID]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spLabMembersDeleteByID]
@LabMembersID int
AS
	BEGIN
	DELETE FROM LabMembers
	WHERE LabMembersID = @LabMembersID
	END
GO
/****** Object:  StoredProcedure [dbo].[spLabMembersViewAll]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spLabMembersViewAll]
AS
	BEGIN
	SELECT * FROM LabMembers
	END
GO
/****** Object:  StoredProcedure [dbo].[spLabMembersViewByID]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spLabMembersViewByID]
@LabMembersID int
AS
	BEGIN
	SELECT *
	FROM LabMembers
	WHERE LabMembersID = @LabMembersID
	END
GO
/****** Object:  StoredProcedure [dbo].[spMemberActivityReportPerYear]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spMemberActivityReportPerYear]

       @LabMembersID NCHAR(10) = NULL
AS
BEGIN
      SET NOCOUNT ON;
	  --Select by Member
	  BEGIN
	  SELECT 
			 L.LabMembersID,
			 L.FirstName,
			 L.Surname,
	  
             P.ThematicUnit, 
	         P.PublicationYear, 

			 R.Running,
			 R.Completed,
			 R.Descrptn,

			 C.Undergraduate,
			 C.Postgraduate

       FROM LabMembers AS L 
         FULL JOIN Publications AS P
		 ON L.LabMembersID = P.LabMembersID
		 FULL JOIN ResearchProjects AS R
		 ON P.LabMembersID = R.LabMembersID
		 FULL JOIN Courses AS C
		 ON R.LabMembersID = C.LabMembersID
	   WHERE L.LabMembersID = @LabMembersID
	   ORDER BY P.PublicationYear
	   END
END
GO
/****** Object:  StoredProcedure [dbo].[spMemberCategoriesCreateOrUpdate]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spMemberCategoriesCreateOrUpdate]
     @MemberCategoriesID int
	,@CategoryName nvarchar(50) 
    ,@Descrptn NTEXT
 AS
 BEGIN
 IF EXISTS (SELECT * FROM  MemberCategories WHERE @MemberCategoriesID=MemberCategoriesID)
 	BEGIN
	UPDATE MemberCategories
	SET 
		CategoryName = @CategoryName,
		Descrptn = @Descrptn
	WHERE MemberCategoriesID = @MemberCategoriesID
	END
ELSE
	BEGIN
	INSERT INTO MemberCategories(MemberCategoriesID, CategoryName, Descrptn)
	VALUES (@MemberCategoriesID, @CategoryName, @Descrptn)
	END

 END
GO
/****** Object:  StoredProcedure [dbo].[spMemberCategoriesDeleteByID]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spMemberCategoriesDeleteByID]
@MemberCategoriesID int
AS
	BEGIN
	DELETE FROM MemberCategories
	WHERE MemberCategoriesID = @MemberCategoriesID
	END
GO
/****** Object:  StoredProcedure [dbo].[spMemberCategoriesViewAll]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spMemberCategoriesViewAll]
AS
	BEGIN
	SELECT * FROM MemberCategories
	END
GO
/****** Object:  StoredProcedure [dbo].[spMemberCategoriesViewByID]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spMemberCategoriesViewByID]
@MemberCategoriesID int
AS
	BEGIN
	SELECT *
	FROM MemberCategories
	WHERE MemberCategoriesID = @MemberCategoriesID
	END
GO
/****** Object:  StoredProcedure [dbo].[spMemberPublicationPerCongress]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spMemberPublicationPerCongress]

       @LabMembersID NCHAR(10) = NULL
AS
BEGIN
      SET NOCOUNT ON;
	  --Select by Member
	  BEGIN
	  SELECT COUNT (PM.PublicationType) AS NumberOfCongressPublications

       FROM LabMembers AS L 
         FULL JOIN Publications AS P
		 ON L.LabMembersID = P.LabMembersID
		 FULL JOIN PublicationMedia AS PM
		 ON P.PublicationMediaID = PM.PublicationMediaID
	   WHERE L.LabMembersID = @LabMembersID AND PM.PublicationType = 'Congress'
	   GROUP BY PM.PublicationType
	   END
END
GO
/****** Object:  StoredProcedure [dbo].[spMemberPublicationPerMagazine]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spMemberPublicationPerMagazine]

       @LabMembersID NCHAR(10) = NULL
AS
BEGIN
      SET NOCOUNT ON;
	  --Select by Member
	  BEGIN
	  SELECT COUNT (PM.PublicationType) AS NumberOfMagazinePublications

       FROM LabMembers AS L 
         FULL JOIN Publications AS P
		 ON L.LabMembersID = P.LabMembersID
		 FULL JOIN PublicationMedia AS PM
		 ON P.PublicationMediaID = PM.PublicationMediaID
	   WHERE L.LabMembersID = @LabMembersID AND PM.PublicationType = 'Magazine'
	   GROUP BY PM.PublicationType
	   END
END
GO
/****** Object:  StoredProcedure [dbo].[spMemberPublicationPerPublicationType]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spMemberPublicationPerPublicationType]

       @LabMembersID NCHAR(10) = NULL
AS
BEGIN
      SET NOCOUNT ON;
	  --Select by Member
	  BEGIN
	  SELECT COUNT (PM.PublicationType) AS NumberOfPublicationsPerType, PM.PublicationType

       FROM LabMembers AS L 
         FULL JOIN Publications AS P
		 ON L.LabMembersID = P.LabMembersID
		 FULL JOIN PublicationMedia AS PM
		 ON P.PublicationMediaID = PM.PublicationMediaID
	   WHERE L.LabMembersID = @LabMembersID
	   GROUP BY PM.PublicationType
	   END
END
GO
/****** Object:  StoredProcedure [dbo].[spMemberPublicationReportPerYearReversed]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spMemberPublicationReportPerYearReversed]

       @LabMembersID NCHAR(10) = NULL
AS
BEGIN
      SET NOCOUNT ON;
	  --Select by Member
	  BEGIN
	  SELECT 
			 L.LabMembersID,
			 L.FirstName,
			 L.Surname,
	  
             P.ThematicUnit, 
	         P.PublicationYear

       FROM LabMembers AS L 
         FULL JOIN Publications AS P
		 ON L.LabMembersID = P.LabMembersID
	   WHERE L.LabMembersID = @LabMembersID
	   ORDER BY P.PublicationYear DESC
	   END
END
GO
/****** Object:  StoredProcedure [dbo].[spMemberWithSameNumberOfPublications]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spMemberWithSameNumberOfPublications]

       @PublicationType NCHAR(10) = NULL
AS
BEGIN
      SET NOCOUNT ON;
	  --Select by Member
	  BEGIN
	  SELECT COUNT (PM.PublicationType) AS NumberOfSamePublications, L.LabMembersID

       FROM LabMembers AS L 
         FULL JOIN Publications AS P
		 ON L.LabMembersID = P.LabMembersID
		 FULL JOIN PublicationMedia AS PM
		 ON P.PublicationMediaID = PM.PublicationMediaID
	   WHERE PM.PublicationType = @PublicationType
	   GROUP BY L.LabMembersID
	   HAVING COUNT (PM.PublicationType) > 0
	   ORDER BY NumberOfSamePublications DESC
	   END
END
GO
/****** Object:  StoredProcedure [dbo].[spMemberWithSamePublications]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spMemberWithSamePublications]

       @PublicationsID NCHAR(10) = NULL
AS
BEGIN
      SET NOCOUNT ON;
	  --Select by Member
	  BEGIN
	  SELECT COUNT (PM.PublicationType) AS SamePublications, L.LabMembersID

       FROM LabMembers AS L 
         FULL JOIN Publications AS P
		 ON L.LabMembersID = P.LabMembersID
		 FULL JOIN PublicationMedia AS PM
		 ON P.PublicationMediaID = PM.PublicationMediaID
	   WHERE P.PublicationsID = @PublicationsID
	   GROUP BY L.LabMembersID
	   HAVING COUNT (P.PublicationsID) > 0
	   ORDER BY SamePublications DESC
	   END
END
GO
/****** Object:  StoredProcedure [dbo].[spPublicationMediaCreateOrUpdate]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spPublicationMediaCreateOrUpdate]
     @PublicationMediaID int
	,@PublicationType NVARCHAR(50)
 AS
 BEGIN
 IF EXISTS (SELECT * FROM  PublicationMedia WHERE @PublicationMediaID=PublicationMediaID)
	
	BEGIN
	UPDATE PublicationMedia
	SET 
		PublicationType = @PublicationType
	WHERE PublicationMediaID = @PublicationMediaID
	END
ELSE
	BEGIN
	INSERT INTO PublicationMedia(PublicationMediaID, PublicationType)
	VALUES (@PublicationMediaID, @PublicationType)
	END
 END
GO
/****** Object:  StoredProcedure [dbo].[spPublicationMediaDeleteByID]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spPublicationMediaDeleteByID]
@PublicationMediaID int
AS
	BEGIN
	DELETE FROM PublicationMedia
	WHERE PublicationMediaID = @PublicationMediaID
	END
GO
/****** Object:  StoredProcedure [dbo].[spPublicationMediaViewAll]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spPublicationMediaViewAll]
AS
	BEGIN
	SELECT * FROM PublicationMedia
	END
GO
/****** Object:  StoredProcedure [dbo].[spPublicationMediaViewByID]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spPublicationMediaViewByID]
@PublicationMediaID int
AS
	BEGIN
	SELECT *
	FROM PublicationMedia
	WHERE PublicationMediaID = @PublicationMediaID
	END
GO
/****** Object:  StoredProcedure [dbo].[spPublicationsCreateOrUpdate]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spPublicationsCreateOrUpdate]
       @PublicationsID INT
      ,@ThematicUnit nvarchar(50)
	  ,@LabMembersID INT
	  ,@PublicationYear INT 
	  ,@PublicationMediaID INT
	  ,@ResearchProjectsID INT
	  ,@LabAnnouncementsID INT
 AS
 BEGIN
 IF EXISTS (SELECT * FROM  Publications WHERE @PublicationsID=PublicationsID)
	BEGIN
	UPDATE Publications
	SET 
		ThematicUnit = @ThematicUnit,
		LabMembersID = @LabMembersID,
		PublicationYear = @PublicationYear,
		PublicationMediaID = @PublicationMediaID,
		ResearchProjectsID = @ResearchProjectsID,
		LabAnnouncementsID = @LabAnnouncementsID
	WHERE PublicationsID = @PublicationsID
	END
ELSE
	BEGIN
	INSERT INTO Publications(PublicationsID, ThematicUnit, LabMembersID, PublicationYear, PublicationMediaID, ResearchProjectsID, LabAnnouncementsID)
	VALUES (@PublicationsID, @ThematicUnit, @LabMembersID, @PublicationYear, @PublicationMediaID, @ResearchProjectsID, @LabAnnouncementsID)
	END

 END
GO
/****** Object:  StoredProcedure [dbo].[spPublicationsDeleteByID]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spPublicationsDeleteByID]
@PublicationsID INT
AS
	BEGIN
	DELETE FROM Publications
	WHERE PublicationsID = @PublicationsID
	END
GO
/****** Object:  StoredProcedure [dbo].[spPublicationsViewAll]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spPublicationsViewAll]
AS
	BEGIN
	SELECT * FROM Publications
	END
GO
/****** Object:  StoredProcedure [dbo].[spPublicationsViewByID]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spPublicationsViewByID]
@PublicationsID INT
AS
	BEGIN
	SELECT *
	FROM Publications
	WHERE PublicationsID = @PublicationsID
	END
GO
/****** Object:  StoredProcedure [dbo].[spResearchProjectsCreateOrUpdate]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spResearchProjectsCreateOrUpdate]
  @ResearchProjectsID int
 ,@Running NVARCHAR(50)
 ,@Completed NVARCHAR(50)
 ,@LabMembersID int
 ,@PublicationsID int
 ,@Descrptn NTEXT
 AS
 BEGIN
 IF EXISTS (SELECT * FROM  ResearchProjects WHERE @ResearchProjectsID=ResearchProjectsID)
	BEGIN
	UPDATE ResearchProjects
	SET 
		Running = @Running,
		Completed = @Completed,
		LabMembersID = @LabMembersID,
		PublicationsID = @PublicationsID,
		Descrptn = @Descrptn
	WHERE ResearchProjectsID = @ResearchProjectsID
	END
ELSE
	BEGIN
	INSERT INTO ResearchProjects(ResearchProjectsID, Running, Completed, LabMembersID, PublicationsID, Descrptn)
	VALUES (@ResearchProjectsID, @Running, @Completed, @LabMembersID, @PublicationsID, @Descrptn)
	END

 END
GO
/****** Object:  StoredProcedure [dbo].[spResearchprojectsDeleteByID]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spResearchprojectsDeleteByID]
@ResearchprojectsID int
AS
	BEGIN
	DELETE FROM Researchprojects
	WHERE ResearchprojectsID = @ResearchprojectsID
	END
GO
/****** Object:  StoredProcedure [dbo].[spResearchprojectsViewAll]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spResearchprojectsViewAll]
AS
	BEGIN
	SELECT * FROM Researchprojects
	END
GO
/****** Object:  StoredProcedure [dbo].[spResearchProjectsViewByID]    Script Date: 4/2/2021 8:31:15 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spResearchProjectsViewByID]
@ResearchProjectsID int
AS
	BEGIN
	SELECT *
	FROM ResearchProjects
	WHERE ResearchProjectsID = @ResearchProjectsID
	END
GO
USE [master]
GO
